<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="searchBook"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${books.isEmpty()}">
    <p>Книга не найдена</p>
    <hr/>
</div>
<br/>
<div th:if="${!books.isEmpty()}">
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</tr>
        <div th:if="${book.getOwner == null}">
            <span>Эта книга свободна</span>
        </div>
        <div th:if="${book.getOwner != null}">
            <span>Книга сейчас у: </span>
            <span th:text="${book.getOwner().getFullName()}">Person Name</span>

        </div>
        <hr/>
    </table>

</div>

</body>
</html>